@mixin center{
	margin-left: 50%;
	transform: translateX(-50%);
}
.border{
	position: relative;
	padding-bottom: 20px;
	&:after{
		content: "";
		min-width: 50px;
		height: 1px;
		background: $alt;
		position: absolute;
	}
	&--bottom{
		&:after{
			bottom: 0;
			left: 50%;
			transform:translateX(-50%);
		}
	}
}